# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Python
* R
* MATLAB
* C++
* JavaScript

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists
1. TesnorFlow
2. NumPy
3. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|Apache Hadoop|
|Jupyter Notebook|

 ### <br>Below are a few examples of evaluating arithmetic expressions in Python:
x= 5<br>
y= 4<br>
sum= x+y<br>
sub= x-y<br>

In [6]:
#This a simple arithmetic expression to mutiply then add integers:
x= (3*4)+5
print (x)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60:
result= 200/60
print (result)

3.3333333333333335

## Author
Bita